.section{
  display: grid;
  padding: 0 14.313rem;
  margin: 0 auto;
  gap: 1.75rem;
  @media(max-width: 1025px){
    padding:0 7rem ;
  }
  @media(max-width: 780px){
    padding:0 2rem ;
  }
  h1{
    font-size: 3rem;
    text-align: center;
    @media(max-width: 780px){
      font-size: 2rem;
    }
  }
}
.container{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  @media(max-width: 780px){
    grid-template-columns: 1fr;
  }
  .text{
    display: grid;
    gap: 2.5rem;
    p{
      font-size: 1.125rem;
      span{
        font-weight: bold;
      }
    }
    .contacts{
      display: grid;
      gap: 1.25rem;
    }
  }
}
.boxContact{
  display: grid;
  gap: .5rem;
  p{
    font-size: 1rem;
  }
  .ico{
    display: flex;
    gap: .25rem;
    align-items: center;
  }
  .photo{
    position: relative;
    aspect-ratio: 1/1;
    height: 2rem;
  }
  span{
    font-size: 1.25rem;
    font-weight: bold;
  }
}
.formSection{
  .form{
    display: grid;
    gap: 1rem;
    .input{
      display: grid;
      gap: .25rem;
      label{
        font-size: 1.125rem;
        opacity: 50%;
      }
      input, textarea{
        padding: 1rem 1.125rem;
        border-radius: 1rem;
        border: 2px solid #FBDCD7;
      }
      textarea{
        resize: none;
        width: 100%;
        height: 7.5rem;
      }
    }
  }
}