.skill{
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  cursor: default;
  background-color: #FBDCD7;
  border-radius: 1rem;
  display: flex;
  gap: .25rem;
}
.ico{
  position: relative;
  height: 1rem;
  aspect-ratio: 1/1;
}